# Local .terraform directories
**/.terraform/*
terraform/.terraform/*
**/.terraform.lock*
**/reference*
# .tfstate files
*.tfstate
*.tfstate.*

# secret
**/phuc_edu.pem
*.pem
**/reference
*/credentials

#pycache
__pycache__/

# Personal note
note.md
