# Local .terraform directories
**/.terraform/*
terraform/.terraform/*
**/.terraform.lock*
**/reference*
# .tfstate files
*.tfstate
*.tfstate.*

**/phuc_edu.pem
*.pem

**/reference
*/credentials

note.md
